
ul{
    list-style-type:none; 
    overflow:hidden;
    background-color:green;
}
ul li{
   float:left;
   
}
ul li a{
    display:block;
    text-decoration:none;
    padding:10px;
    color:white;
  
}